body {
  position: relative;
  background-color: rgba(5, 2, 6);
  color: rgba(254, 254, 254);
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(rgba(60, 24, 70, 1) -40%, rgba(0, 0, 0, 1));
}


.orbital {
  position: relative;
  width: 56%;
  height: 85rem;
  top: 3rem;
  right: 55rem;
}

.orbital-circle {
  position: absolute;
  top: 50%;
  left: calc(2 / 3 * 100%);
  transform: translate(-30%, -50%);
  border-radius: 50%;
  border: 0.2rem solid rgba(254, 254, 254);
}


.orbital-circle:nth-child(1) {
  width: calc(100% / 6);
  height: calc(100% / 6);
}

.orbital-circle:nth-child(2) {
  width: calc(100% / 3);
  height: calc(100% / 3);
}

.orbital-circle:nth-child(3) {
  width: calc(100% / 2);
  height: calc(100% / 2);
}

.orbital-circle:nth-child(4) {
  width: calc(2 * 100% / 3);
  height: calc(2 * 100% / 3);
}

.orbital-circle:nth-child(5) {
  width: 100%;
  height: 100%;
}

.info {
  width: 52%;
  height: 50rem;
  padding: 1rem;
}

.header {
  position: relative;
  bottom: 3rem;
  right: 14rem;
  float: left;
  font-family: 'fys' sans-serif;
}

.info h1 {
  line-height: 8rem;
  font-size: 5rem;
}

.info .date {
  font-size: 5rem;
  margin: 1rem 0;
  font-family: 'fys' sans-serif;
}

.logo {
  width: 60%;
  height: auto;
}


.astronauts {
  display: flex;

}

.astronauts-introduction {
  position: relative;
  top: 5rem;
  right: 10rem;
  font-size: 3rem;
  width: 2rem;
  line-height: 3.5rem;
  display: inline-block;
}

.astronaut {
  bottom: 4rem;
  right: 2rem;
  margin-right: 5rem;
  position: relative;
  font-family: 'fys' sans-serif;
}

.astronaut img {
  width: 14rem;
  height: auto;
  /* border-radius: 1rem; */
}

.astronaut p {
  margin-top: 2rem;
  margin-left: 4.4rem;
  font-size: 2rem;
}

.mission-details {
  position: relative;
  width: 50%;
  right: 4rem;
  height: 13rem;
  top: 4rem;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;

  border: 0.1rem solid;
  /* border-image: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(128, 48, 150, 1)) 1 1; */
  /* border-image-repeat: round; */
}

.mission-content {
  position: absolute;
  top: 50%;
  left: 55%;
  width: 25rem;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  line-height: 3.5rem;
  font-family: 'fys' sans-serif;
}

.description {
  position: relative;
  right: 10rem;
  margin-top: 13rem;
  font-size: 2.5rem;
  line-height: 4rem;
  font-family: 'fys' sans-serif;
}

.right-circles {
  position: absolute;
  right: 5rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

}

.right-circle {
  width: 6rem;
  height: 6rem;
  /* background-color: #6200ea; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(254, 254, 254);
  font-size: 2.4rem;
  background: rgba(152, 117, 161, 0.15);
  box-shadow: inset 0px 0px 3px 2px #803096;
  border: 1px solid rgba(209, 209, 209);
}