body {
  position: relative;
  background-color: rgba(5, 2, 6);
  color: rgba(254, 254, 254);
  width: 100%;
  height: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.orbital {
  position: relative;
  left: calc(-50vh + 100vh / 12);
  width: 100vh;
  height: 100vh;
}

.orbital-circle {
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.2rem solid rgba(255, 255, 255, 1);
  transform-origin: center;
}

.orbital-circle:nth-child(1) {
  width: calc(1.5 * 100% / 12);
  height: calc(1.5 * 100% / 12);
}

.orbital-circle:nth-child(2) {
  width: calc(3 * 100% / 12);
  height: calc(3 * 100% / 12);
}

.orbital-circle:nth-child(3) {
  width: calc(4.5 * 100% / 12);
  height: calc(4.5 * 100% / 12);
}

.orbital-circle:nth-child(4) {
  width: calc(6.5 * 100% / 12);
  height: calc(6.5 * 100% / 12);
}

.orbital-circle:nth-child(5) {
  width: calc(9 * 100% / 12);
  height: calc(9 * 100% / 12);
}

.orbital-circle:nth-child(6) {
  width: calc(12 * 100% / 12);
  height: calc(12 * 100% / 12);
}

.dot {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(255, 255, 255, 0.8),
    0 0 30px rgba(255, 255, 255, 0.7),
    0 0 40px rgba(255, 255, 255, 0.6),
    0 0 70px rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  left: calc(5 * 100vh / 12);
  transform: translate(25%, -50%);
}

.arrow-left {
  font-size: 8.5rem;
  padding-left: 1rem;
  background: linear-gradient(90deg, #FFFFFF 0%, #803096 100%);
  /* -webkit-background-clip: text; */
  background-clip: text;
  color: transparent;
}

.info {
  width: 52%;
  height: 55rem;
  padding: 1rem;
}

.star-bg {
  margin: auto;
  height: 33rem;
  width: 100%;
}

.header {
  position: relative;
  bottom: 3rem;
  right: 14rem;
  float: left;
  font-family: 'fys', 'Microsoft YaHei', 'PingFang SC', 'Microsoft JhengHei', sans-serif;
}

.info h1 {
  line-height: 8rem;
  font-size: 5rem;
}

.info .date {
  font-size: 5rem;
  margin: 1rem 0;
  font-family: 'fys', 'Microsoft YaHei', 'PingFang SC', 'Microsoft JhengHei', sans-serif;
}

.logo {
  width: 60%;
  height: auto;
}

.astronauts {
  display: flex;
}

.astronauts-introduction {
  position: relative;
  top: 3rem;
  right: 20rem;
  font-size: 3rem;
  width: 2rem;
  line-height: 3.5rem;
  display: inline-block;
}

.astronaut {
  top: 1rem;
  right: 3rem;
  margin-right: 5rem;
  position: relative;
  font-family: 'fys', 'Microsoft YaHei', 'PingFang SC', 'Microsoft JhengHei', sans-serif;
}


.astronaut img {
  width: 14rem;
  height: auto;
  /* border-radius: 1rem; */
}

.astronaut p {
  margin-top: 2rem;
  margin-left: 4.4rem;
  font-size: 2rem;
}

.mission-details {
  position: relative;
  width: 50%;
  right: 4rem;
  height: 14rem;
  bottom: 4rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 4rem;
  overflow: hidden;
  border: 0.11rem solid rgba(46, 38, 48, 1);
  background-color: rgba(128, 48, 150, 0.1);
}

.mission-details::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.14rem solid;
  box-sizing: border-box;
  border-image: linear-gradient(136deg, rgba(128, 48, 150, 0.5) -10%, rgba(239, 235, 235, 0.35) 40%, rgba(70, 48, 191, 0.5), rgba(255, 255, 255, 0)) 1 1;
}

.mission-content {
  position: absolute;
  top: 50%;
  left: 55%;
  width: 25rem;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  line-height: 3.5rem;
  font-family: 'fys', 'Microsoft YaHei', 'PingFang SC', 'Microsoft JhengHei', sans-serif;
}

.description {
  position: relative;
  right: 10rem;
  margin-top: 3rem;
  font-size: 2.5rem;
  line-height: 4rem;
  font-family: 'fys', 'Microsoft YaHei', 'PingFang SC', 'Microsoft JhengHei', sans-serif;
}

.right-circles {
  position: absolute;
  right: 5rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.last-circle,
.next-circle {
  width: 6rem;
  height: 6rem;
  /* background-color: #6200ea; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(254, 254, 254);
  font-size: 2.4rem;
  background: rgba(152, 117, 161, 0.15);
  box-shadow: inset 0px 0px 3px 2px rgba(128, 48, 150);
  border: 1px solid rgba(209, 209, 209);
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.right-circle.clicked {
  animation: bounce 0.5s ease-in-out;
}

@keyframes orbit {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}