@keyframes rotate {
  from {
    transform: translateX(-50%) rotate(0deg);
  }

  to {
    transform: translateX(-50%) rotate(360deg);
  }
}


.orbital-circle:nth-child(2)::after {
  content: "";
  position: absolute;
  top: -0.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(254, 254, 254);
  border-radius: 50%;
  transform-origin: center 15rem;
  animation: rotate 5s linear infinite;
}

.orbital-circle:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -0.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(254, 254, 254);
  border-radius: 50%;
  transform-origin: center 15rem;
  animation: rotate 6s linear infinite;
  /* 新的动画时间，可按需调整 */
}

.orbital-circle:nth-child(3)::after {
  content: "";
  position: absolute;
  top: -0.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 1.7rem;
  height: 1.7rem;
  background-color: rgba(254, 254, 254);
  border-radius: 50%;
  transform-origin: center 22rem;
  animation: rotate 7s linear infinite;
}

.orbital-circle:nth-child(3)::before {
  content: "";
  position: absolute;
  top: -0.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 1.7rem;
  height: 1.7rem;
  background-color: rgba(254, 254, 254);
  border-radius: 50%;
  transform-origin: center 22rem;
  animation: rotate 8s linear infinite;
  /* 新的动画时间，可按需调整 */
}

.orbital-circle:nth-child(4)::after {
  content: "";
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 2rem;
  background-color: rgba(254, 254, 254);
  border-radius: 50%;
  transform-origin: center 29.5rem;
  animation: rotate 9s linear infinite;
}

.orbital-circle:nth-child(4)::before {
  content: "";
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 2rem;
  background-color: rgba(254, 254, 254);
  border-radius: 50%;
  transform-origin: center 29.5rem;
  animation: rotate 10s linear infinite;
  /* 新的动画时间，可按需调整 */
}

.orbital-circle:nth-child(5)::after {
  content: "";
  position: absolute;
  top: -1.4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  background-color: rgba(254, 254, 254);
  border-radius: 50%;
  transform-origin: center 44.38rem;
  animation: rotate 9s linear infinite;
}

.orbital-circle:nth-child(5)::before {
  content: "";
  position: absolute;
  top: -1.4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  background-color: rgba(254, 254, 254);
  border-radius: 50%;
  transform-origin: center 44.38rem;
  animation: rotate 12s linear infinite;
  /* 新的动画时间，可按需调整 */
}