body {
    min-height: 100vh;
    background: rgba(0, 0, 0, 1);
}

.container {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.page {
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
}

.page:nth-child(1) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page:nth-child(1) .slogan {
    color: rgba(255, 255, 255, 1);
    font-family: hkjt;
    font-weight: 400;
    font-size: 9rem;
    -webkit-animation: tracking-in-expand-fwd-bottom 1s ease-in-out both;
    animation: tracking-in-expand-fwd-bottom 1s ease-in-out both;
    z-index: 1;
}

.page:nth-child(1) .title {
    position: absolute;
    transform: translate(22vw, 14vh);
    color: rgba(255, 255, 255, 1);
    font-family: qtbfsxt;
    font-size: 2.5rem;
    font-weight: 200;
    -webkit-animation: delay-show 2s ease-in-out both;
    animation: delay-show 2s ease-in-out both;
    z-index: 1;
}

.page:nth-child(1) .top-left-light {
    position: absolute;
    top: -70vh;
    left: -70vh;
    width: 140vh;
    height: 140vh;
    background: radial-gradient(circle at center, rgb(77, 22, 154) 0%, rgba(77, 22, 154, 0.8) 50%, rgba(77, 22, 154, 0) 70%);
    filter: blur(200px);
    opacity: 0.4;
    -webkit-animation: vibrate-1 7s ease-out infinite alternate forwards;
    animation: vibrate-1 7s ease-out infinite alternate forwards;
}


.bottom-right-light {
    position: absolute;
    bottom: -60vh;
    right: -50vh;
    width: 140vh;
    height: 140vh;
    background: radial-gradient(circle at center, rgb(60, 22, 71) 0%, rgba(60, 22, 71, 0.8) 50%, rgba(60, 22, 71, 0) 70%);
    filter: blur(200px);
    opacity: 0.6;
    -webkit-animation: vibrate-1 7s ease-out infinite alternate forwards;
    animation: vibrate-1 7s ease-out infinite alternate forwards;
}

.grid-overlay {
    width: 75vw;
    height: 75vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: all;
    mask-image: radial-gradient(ellipse at center,
            rgb(255, 255, 255) 0%,
            rgb(255, 255, 255) 20%,
            rgba(255, 255, 255, 0.9) 30%,
            rgba(255, 255, 255, 0.7) 40%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0.3) 60%,
            rgba(255, 255, 255, 0.1) 70%,
            rgba(255, 255, 255, 0) 80%);
    -webkit-mask-image: radial-gradient(ellipse at center,
            rgb(255, 255, 255) 0%,
            rgb(255, 255, 255) 20%,
            rgba(255, 255, 255, 0.9) 30%,
            rgba(255, 255, 255, 0.7) 40%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0.3) 60%,
            rgba(255, 255, 255, 0.1) 70%,
            rgba(255, 255, 255, 0) 80%);
}

.grid-overlay line {
    stroke: rgba(255, 255, 255, 0.2);
    stroke-width: 1;
    transition: stroke 0.3s ease;
}

.grid-overlay line:hover {
    stroke: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}