body {
    background-color: #000;
    color: #fff;
    font-family: 'YSBTY', sans-serif;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

* {
    transition: all 0.3s ease;
}

.qa-header {
    position: absolute;
    top: 8rem;
    left: 6rem;
    width: calc(100vw - 12rem);
}

.qa-header .init-info {
    justify-self: self-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.qa-header .init-info .title {
    font-size: 6rem;
    font-family: 'fys', sans-serif;
    transform: translateX(-4rem);
    animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.qa-header .init-info .en {
    font-size: 2rem;
    font-family: serif, sans-serif;
    transform: translateX(-4rem);
    animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.qa-header .level-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.qa-header .level-info .level-title {
    font-size: 3.2rem;
    font-family: 'fys', sans-serif;
    background-clip: text;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qa-header .level-info .level-progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    font-size: 2.4rem;
    font-family: 'fys', sans-serif;
}

.qa-header .level-info .level-progress .process-container {
    position: relative;
    width: 27.6rem;
    height: 2.7rem;
    background-color: rgba(127, 48, 150, 1);
    border: 0.3rem solid rgba(96, 69, 246, 1);
}

.qa-header .level-info .level-progress .process-container .process-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
}





.qa-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123.5rem;
    height: 63.7rem;
    box-sizing: border-box;
    background-image: url("../../assets/images/WenTianPavilion/QuestionBg.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
}

/* 初始内容 */
.qa-container .start-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    animation: fade-in-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.qa-container .start-content img {
    width: 22.454rem;
    height: 33.465rem;
}

.qa-container .start-content h2 {
    font-size: 3.2rem;
    font-family: 'fys', sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(191, 151, 202, 1), rgba(127, 48, 150, 1));
    background-clip: text;
    color: transparent;
}

.qa-container .start-content .start-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(230, 138, 255, 1);
    font-size: 3.2rem;
    font-family: 'fys', sans-serif;
}

.qa-container .start-content .start-btn svg {
    margin-left: 4rem;
    width: 3.2rem;
    height: 3.2rem;
}

/* 答题环节 */
.qa-container .qa-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 12rem;
    gap: 6rem;
}

.qa-container .qa-box .question {
    display: flex;
    align-items: center;
    justify-content: start;
}

.qa-container .qa-box .question img {
    width: 4.4rem;
    height: 6.557rem;
    margin-right: 4rem;
}

.qa-container .qa-box .question {
    font-size: 3.2rem;
    font-family: 'fys', sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(191, 151, 202, 1), rgba(127, 48, 150, 1));
    background-clip: text;
    color: transparent;
}

.qa-container .qa-box .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 3rem;
    padding-left: 9rem;
}

.qa-container .qa-box .options .option {
    width: 100%;
    font-size: 3.2rem;
    font-family: 'fys', sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(191, 151, 202, 1), rgba(127, 48, 150, 1));
    background-clip: text;
    color: transparent;
}

.qa-container .qa-box .control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 12rem;
}

.qa-container .qa-box .control .submit,
.qa-container .qa-box .control .analysis {
    font-size: 2.8rem;
    font-family: 'fys', sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(191, 151, 202, 1), rgba(127, 48, 150, 1));
    background-clip: text;
    color: transparent;
    border: 0.3rem solid rgba(127, 48, 150, 1);
    width: 19.4rem;
    height: 5.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qa-container .qa-box .control .submit:hover,
.qa-container .qa-box .control .analysis:hover {
    background-clip: content-box;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(127, 48, 150, 1);
}

.qa-container .qa-box .next-prev {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qa-container .qa-box .next-prev .prev,
.qa-container .qa-box .next-prev .next {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2.8rem;
    font-family: 'fys', sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(191, 151, 202, 1), rgba(127, 48, 150, 1));
    background-clip: text;
    color: transparent;
    width: 19.4rem;
    height: 5.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.qa-container .qa-box .next-prev .prev svg,
.qa-container .qa-box .next-prev .next svg {
    width: 3.5rem;
    height: 3.5rem;
}

.qa-container .qa-box .next-prev .next svg {
    transform: rotate(180deg);
}

.qa-container .fragment-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.qa-container .fragment-box .info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.qa-container .fragment-box .info img {
    width: 3.2rem;
    height: 3.2rem;
}

.qa-container .fragment-box .info h2 {
    font-size: 3.2rem;
    font-family: 'fys', sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(191, 151, 202, 1), rgba(127, 48, 150, 1));
    background-clip: text;
    color: transparent;
}

.qa-container .fragment-box .fragment-img {
    width: 100%;
    height: 14.1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.qa-container .fragment-box .fragment-img img {
    height: 100%;
    width: auto;
}

.qa-container .fragment-box .continue-btn {
    width: 19.4rem;
    height: 5.3rem;
    border: 0.3rem solid rgba(127, 48, 150, 1);
    font-size: 3.2rem;
    font-family: 'fys', sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(191, 151, 202, 1), rgba(127, 48, 150, 1));
    background-clip: text;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qa-container .fragment-box .progress-box {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: 2.4rem;
    font-family: 'fys', sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(191, 151, 202, 1), rgba(127, 48, 150, 1));
    background-clip: text;
    color: transparent;
}

.qa-container .backpack-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.qa-container .backpack-box .info {
    font-size: 3.2rem;
    font-family: 'fys', sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(191, 151, 202, 1), rgba(127, 48, 150, 1));
    background-clip: text;
    color: transparent;
}

.qa-container .backpack-box .backpack-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.qa-container .backpack-box .backpack-item img {
    width: auto;
    height: 14.1rem;
}

.qa-container .backpack-box .continue-btn {
    width: 19.4rem;
    height: 5.3rem;
    border: 0.3rem solid rgba(127, 48, 150, 1);
    font-size: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(191, 151, 202, 1), rgba(127, 48, 150, 1));
    background-clip: text;
    color: transparent;
}

.qa-container .puzzle-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.qa-container .puzzle-box .info {
    font-size: 3.2rem;
    font-family: 'fys', sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(191, 151, 202, 1), rgba(127, 48, 150, 1));
    background-clip: text;
    color: transparent;
}

.qa-container .puzzle-box .puzzle-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.qa-container .puzzle-box .puzzle-item .full-puzzle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 29.3rem;
    height: 23.1rem;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.qa-container .puzzle-box .puzzle-item .full-puzzle img {
    width: 100%;
    height: 100%;
}

.qa-container .puzzle-box .puzzle-item img {
    width: auto;
    height: 14.1rem;
}

.back-entry {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    width: 13.6rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    font-size: 2.4rem;
    font-family: 'fys', sans-serif;
    color: rgba(70, 48, 191, 1);
}

.back-entry img {
    height: 131.83rem;
    width: 13.6rem;
}

/* 解析 */
.analysis-text {
    font-size: 2.8rem;
    font-family: 'fys', sans-serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(191, 151, 202, 1), rgba(127, 48, 150, 1));
    background-clip: text;
    color: transparent;
    margin-top: 2rem;
    margin-bottom: 2rem;
}