body {
    background-color: rgba(0, 0, 0, 1);
    overflow-x: hidden;
}

.container {
    height: 200vh;
    width: 100vw;
    overflow-x: hidden;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(1) {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-left: 10rem;
    padding-right: 10rem;
}

.page:nth-child(1) .star-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.page:nth-child(1) .light-bg {
    background-image: url("../../assets/images/GlobalQuickReport/BgLight.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 113.9rem;
    height: 170.567rem;
    top: -55rem;
    left: 94.6rem;
    z-index: -1;
}

.page:nth-child(1) .info {
    width: 100vw;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.page:nth-child(1) .info .title {
    font-size: 8rem;
    font-family: 'fys', sans-serif;
    transform: translateX(-4rem);
}

.page:nth-child(1) .info .en {
    font-size: 4rem;
    font-family: serif, sans-serif;
    font-weight: 200;
}

.page:nth-child(1) .news {
    width: 100%;
    height: calc(100vh - 30rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.page:nth-child(1) .news .new-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    font-family: serif, sans-serif;
    font-weight: 200;
    padding: 2rem 20rem 2rem 8rem;
    transition: all 0.3s ease;
    border-top: 0.2rem solid rgba(255, 255, 255, 0.3);
}


.page:nth-child(1) .news .new-item:nth-last-child(1) {
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.3);
}

.page:nth-child(1) .news .new-item:hover {
    background-color: rgba(255, 255, 255, 0.1);

}

.page:nth-child(1) .news .new-item .new-content-box {
    display: none;
    transition: all 0.3s ease;
    position: fixed;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5rem);
    animation: fade-in-fwd 0.3s ease;
}

.page:nth-child(1) .news .new-item .new-content-box .children {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../assets/images/GlobalQuickReport/ModelBg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 144.49rem;
    height: 77.793rem;
    padding: 2rem;
    padding: 5rem 8rem 5rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 1);
}

.new-content-box .close-btn {
    background-image: url("../../assets/images/GlobalQuickReport/CloseBtn.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 8rem;
    right: 5rem;

    transition: all 0.3s ease;
    animation: rotate-in 0.6s ease-in-out;
}

.new-content-box .close-btn:hover {
    transform: scale(1.1);
}

.new-content-box .children .new-box-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-family: serif, sans-serif;
}

.new-content-box .children .line {
    width: 100%;
    height: 0.2rem;
    background-color: rgba(164, 55, 194, 1);
    margin-bottom: 2rem;
}

.new-content-box .children .new-content {
    font-size: 2rem;
    font-family: serif, sans-serif;
    font-weight: 200;
    line-height: 1.5;
}

.page:nth-child(2) {
    position: relative;
    width: 100vw;
    min-height: 120vh;
    padding-left: 10rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.page:nth-child(2) .title-one {
    background-image: url("../../assets/images/GlobalQuickReport/HTKJYYYMSFW.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 49.5rem;
    height: 9.7rem;
    transform: translateX(-4rem);
    margin: 4rem 0;
}

.htkj-yyymsfw,
.gjhz {
    width: max-content;
    height: 36.8rem;
    display: flex;
    align-items: center;
    animation: scroll-left 60s linear infinite;
}

.htkj-yyymsfw img,
.gjhz img {
    width: 50.5rem;
    height: 34.4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    animation: fade-in-fwd 0.6s ease-in-out;
    transition: transform 0.3s ease;
    border: 0.3rem solid transparent;
}

.gjhz img:hover,
.htkj-yyymsfw img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem rgba(164, 55, 194, 0.5);
    border: 0.3rem solid rgba(164, 55, 194, 1);
}

.page:nth-child(2) .title-two {
    background-image: url("../../assets/images/GlobalQuickReport/GJHZ.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 37.3rem;
    height: 9.7rem;
    transform: translateX(-4rem);
    margin: 4rem 0;
}

.video-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.video-popup {
    position: relative;
    padding: 1rem;
    max-width: 90vw;
    max-height: 80vh;
}

.video-popup video {
    width: 100%;
    height: auto;
    border: 0.2rem solid rgba(164, 55, 194, 1);
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5),
        0 0 1rem rgba(164, 55, 194, 0.5);
}

.close-video-btn {
    background-image: url("../../assets/images/GlobalQuickReport/CloseBtn.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 0rem;
    right: -10rem;

    transition: all 0.3s ease;
    animation: rotate-in 0.6s ease-in-out;
}

.close-video-btn:hover {
    transform: scale(1.1);
}