body {
    min-height: 100vh;
    background: rgba(0, 0, 0, 1);
    overflow-x: hidden;
    color: rgba(255, 255, 255, 1);
}

.container {
    min-height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.page:nth-child(1) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page:nth-child(1) .rocket {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0vh;
    will-change: transform, opacity;
    z-index: 100;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.page:nth-child(1) .rocket-info {
    position: absolute;
    left: 16vw;
    height: 82vh;
    bottom: 9vh;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.page:nth-child(1) .intro {
    position: absolute;
    right: 6vw;
    bottom: 9vh;
    color: rgba(255, 255, 255, 1);
    width: 46vw;
    height: 40vh;
    border-radius: 1.6rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 0 8rem;
    background: url('../../assets/images/TwelveOrderStars/intro-mask.webp') no-repeat center center;
    background-size: contain;
}

.page:nth-child(1) .bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0vh;
    will-change: transform, opacity;
    z-index: 10;
}

.page:nth-child(1) .bg .top-right-light {
    position: absolute;
    top: -40rem;
    right: -40rem;
    width: 135.6rem;
    height: 105.75rem;
    background: rgba(146, 70, 167, 0.5);
    filter: blur(64rem);
    opacity: 0.6;
    animation: vibrate-1 8s ease-out infinite alternate forwards;
    z-index: 1;
}

.page:nth-child(1) .intro .title {
    font-size: 6.4rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
}

.page:nth-child(1) .intro .detail {
    font-size: 3.2rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
}

.page:nth-child(2) .parts {
    width: 100vw;
    height: 100vh;
    position: relative;
    left: 0;
    bottom: 0;
}

.page:nth-child(2) .parts .part {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}

.page:nth-child(2) .parts .part .stage-info {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 10;
}

.page:nth-child(2) .parts .part:nth-child(1) {
    width: 5vw;
    height: 35vh;
    left: 9vw;
    bottom: 2vh;
    background-image: url("../../assets/images/TwelveOrderStars/2_1.png");
    position: absolute;
}

.page:nth-child(2) .parts .part:nth-child(1) .stage-info {
    position: absolute;
    left: 20vw;
    top: 10%;
    display: flex;
    width: 25vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 1rem;
}

.page:nth-child(2) .parts .part:nth-child(1) .stage-info .line {
    position: absolute;
    top: 1.2rem;
    left: -50%;
    width: 20rem;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(1) .stage-info .name {
    font-size: 2.4rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(1) .stage-info .intro {
    font-size: 2rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(1) .stage-info .live-img {
    width: 100%;
    height: 20rem;
    background-image: url("../../assets/images/TwelveOrderStars/process_1_bg.png");
    background-size: contain;
    background-position: start;
    background-repeat: no-repeat;
}

.page:nth-child(2) .parts .part:nth-child(2) {
    width: 10vw;
    height: 25vh;
    left: 12.5vw;
    bottom: 40vh;
    background-image: url("../../assets/images/TwelveOrderStars/2_2.png");
}

.page:nth-child(2) .parts .part:nth-child(2) .stage-info {
    position: absolute;
    left: 21vw;
    top: 50%;
    display: flex;
    width: 25vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 1rem;
}

.page:nth-child(2) .parts .part:nth-child(2) .stage-info .line {
    position: absolute;
    top: 1.2rem;
    left: -45%;
    width: 16rem;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(2) .stage-info .name {
    font-size: 2.4rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(2) .stage-info .intro {
    font-size: 2rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(2) .stage-info .live-img {
    width: 100%;
    height: 20rem;
    background-image: url("../../assets/images/TwelveOrderStars/process_1_bg.png");
    background-size: contain;
    background-position: start;
    background-repeat: no-repeat;
}

.page:nth-child(2) .parts .part:nth-child(3) {
    width: 10vw;
    height: 15vh;
    left: 23vw;
    bottom: 66vh;
    background-image: url("../../assets/images/TwelveOrderStars/2_3.png");
}

.page:nth-child(2) .parts .part:nth-child(3) .stage-info {
    position: absolute;
    left: 11vw;
    top: 60%;
    display: flex;
    width: 25vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 1rem;
}

.page:nth-child(2) .parts .part:nth-child(3) .stage-info .line {
    position: absolute;
    top: 1.2rem;
    left: -20%;
    width: 7rem;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(3) .stage-info .name {
    font-size: 2.4rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(3) .stage-info .intro {
    font-size: 2rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(3) .stage-info .live-img {
    width: 100%;
    height: 20rem;
    background-image: url("../../assets/images/TwelveOrderStars/process_1_bg.png");
    background-size: contain;
    background-position: start;
    background-repeat: no-repeat;
}

.page:nth-child(2) .parts .part:nth-child(4) {
    width: 10vw;
    height: 12vh;
    left: 37vw;
    bottom: 80.5vh;
    background-image: url("../../assets/images/TwelveOrderStars/2_4.png");
}

.page:nth-child(2) .parts .part:nth-child(4) .stage-info {
    position: absolute;
    left: 10vw;
    top: 50%;
    display: flex;
    width: 25vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 1rem;
}

.page:nth-child(2) .parts .part:nth-child(4) .stage-info .line {
    position: absolute;
    top: 1.2rem;
    left: -15%;
    width: 5rem;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(4) .stage-info .name {
    font-size: 2.4rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(4) .stage-info .intro {
    font-size: 2rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(4) .stage-info .live-img {
    width: 100%;
    height: 20rem;
    background-image: url("../../assets/images/TwelveOrderStars/process_1_bg.png");
    background-size: contain;
    background-position: start;
    background-repeat: no-repeat;
}

.page:nth-child(2) .parts .part:nth-child(5) {
    width: 8vw;
    height: 9vh;
    left: 50vw;
    bottom: 87vh;
    background-image: url("../../assets/images/TwelveOrderStars/2_5.png");
}

.page:nth-child(2) .parts .part:nth-child(5) .stage-info {
    position: absolute;
    left: 10lvw;
    top: 70%;
    display: flex;
    width: 25vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 1rem;
}

.page:nth-child(2) .parts .part:nth-child(5) .stage-info .line {
    position: absolute;
    top: 1.2rem;
    left: -15%;
    width: 5rem;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(5) .stage-info .name {
    font-size: 2.4rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(5) .stage-info .intro {
    font-size: 2rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(5) .stage-info .live-img {
    width: 100%;
    height: 20rem;
    background-image: url("../../assets/images/TwelveOrderStars/process_1_bg.png");
    background-size: contain;
    background-position: start;
    background-repeat: no-repeat;
}

.page:nth-child(2) .parts .part:nth-child(6) {
    width: 6vw;
    height: 9vh;
    left: 63vw;
    bottom: 88vh;
    background-image: url("../../assets/images/TwelveOrderStars/2_6.png");
}

.page:nth-child(2) .parts .part:nth-child(6) .stage-info {
    position: absolute;
    left: 0vw;
    top: 100%;
    display: flex;
    width: 25vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 1rem;
}

.page:nth-child(2) .parts .part:nth-child(6) .stage-info .name {
    font-size: 2.4rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(6) .stage-info .intro {
    font-size: 2rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .parts .part:nth-child(6) .stage-info .live-img {
    width: 100%;
    height: 20rem;
    background-image: url("../../assets/images/TwelveOrderStars/process_1_bg.png");
    background-size: contain;
    background-position: start;
    background-repeat: no-repeat;
}

.page:nth-child(2) .process {
    width: 7rem;
    height: 90vh;
    position: absolute;
    right: 2rem;
    top: 5vh;
    background-image: url("../../assets/images/TwelveOrderStars/process.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1001;
}

.page:nth-child(2) .process .arrow {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("../../assets/images/TwelveOrderStars/arrow.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    right: 5vw;
    transform: translate(-50%, 50%);
    transition: bottom 10s ease-in-out, opacity 0.8s ease-in-out;
    opacity: 0;
}

.page:nth-child(2) .process .arrow.reset {
    transition: none;
}

.page:nth-child(2) .info {
    position: absolute;
    right: 38rem;
    bottom: 42vh;
    transform: translateY(-50%);
    font-size: 6.4rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .time {
    width: 32.6rem;
    height: 32.6rem;
    position: absolute;
    right: 25rem;
    bottom: 8rem;
    background-image: url("../../assets/images/TwelveOrderStars/time.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(2) .time .digit {
    font-size: 12.8rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
}

.page:nth-child(2) .time .second {
    font-size: 3.2rem;
    font-weight: 200;
    font-family: 'fys', sans-serif;
    transform: translate(0, 3rem);
}

.page:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page:nth-child(3) .content {
    background-image: url("../../assets/images/TwelveOrderStars/TwelveOrderStartsEndPage.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 152.9rem;
    height: 81.2rem;
    border: 0.2rem solid rgba(100, 29, 111, 1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    position: relative;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.page:nth-child(3) .content.fade-out {
    opacity: 0;
    transform: scale(0.95);
}

.page:nth-child(3) .content .bg-color {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 5, 15, 1);
    z-index: -1;
}

.page:nth-child(3) .content .star-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 152.9rem;
    height: 56.6rem;
    z-index: 1;
}

.page:nth-child(3) .content .title {
    font-size: 9.6rem;
    font-family: 'fys', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.page:nth-child(3) .content .detail {
    width: 22.4rem;
    height: 5.6rem;
    font-size: 2.4rem;
    font-family: 'fys', sans-serif;
    color: rgba(255, 255, 255, 1);
    background-image: url("../../assets/images/TwelveOrderStars/button-bg.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.close-video svg {
    width: 2.5rem;
    height: 2.5rem;
    stroke: white;
    stroke-width: 0.2rem;
}

.page:nth-child(3) .content .detail svg {
    width: 3rem;
    height: 3rem;
}

.video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.video-player.active {
    opacity: 1;
    visibility: visible;
}

.video-player video {
    width: 80%;
    max-height: 80%;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.2);
}

.close-video {
    position: absolute;
    top: 5rem;
    right: 5rem;
    background: none;
    border: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(100, 29, 111, 0.7);
    transition: background-color 0.3s ease;
}

.close-video:hover {
    background-color: rgba(100, 29, 111, 1);
}