/* 
* fonts.css 专用于定义字体 
*/

@font-face {
    font-family: hkjt;
    src: url('../assets/fonts/HKJT.ttf');
}

@font-face {
    font-family: qtbfsxt;
    src: url('../assets/fonts/QTBFSXT.ttf');
}

@font-face {
    font-family: fys;
    src: url('../assets/fonts/FYS.ttf');
}

@font-face {
    font-family: hksjt;
    src: url('../assets/fonts/HKSJT.ttf');
}

@font-face {
    font-family: ysbty;
    src: url('../assets/fonts/YSBTY.ttf');
}