/* 
* keyframes.css 专用于定义动画 
*/

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-10vh, 10vh);
  }

  40% {
    transform: translate(-10vh, -10vh);
  }

  60% {
    transform: translate(10vh, 10vh);
  }

  80% {
    transform: translate(10vh, -10vh);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}


@keyframes delay-show {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rocket-show {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }

  100% {
    opacity: 100;
    transform: translateY(0vh);
  }
}

@keyframes pulsate-bck {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes light {
  0% {
    transform: scale(1.01);
  }

  50% {
    transform: scale(0.99);
  }

  100% {
    transform: scale(1.01);
  }
}