@import url(./keyframes.css);
@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    list-style: none;
    text-decoration: none;
}

*::-webkit-scrollbar {
    width: 0 !important
}

* {
    -ms-overflow-style: none;
}

* {
    overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar {
    width: 0 !important
}