@import url(./keyframes.css);
@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    list-style: none;
    text-decoration: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    cursor: none !important;
    -webkit-user-select: none;
}

html {
    font-size: 10px;
    cursor: none;
}

.custom-cursor {
    position: fixed;
    width: 3.2rem;
    height: 3.2rem;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 99999;
    opacity: 1;
}

p {
    text-indent: 2em;
}

.page {
    animation: fade-in-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}